html{
 position: relative;
 min-height: 100%;  
}
body {
	font-family: 'Dosis', sans-serif;
     background-image:url(images/fondo.jpg);
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.cabecera{
    background: dodgerblue;
    color:black;
}
h1{
    color:aliceblue;
    text-align: center;
    line-height: inherit;
}
h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    font-size: 35px;
}
.subtitulo{
    text-align: center;
}
.nav :hover{
    color: black;
	display:block;
}
.nav-pills{
    background-color: black;
    color: rgba(190, 229, 144, 0.9) !important;
	display:block;
}
.cuerpo{
    text-align: justify;
    font-size: 20px;
    padding: 35px;
}
footer {
    clear: both;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: dodgerblue;
	position: absolute;
	bottom: 0;
    left: 0;
}
table{
margin-bottom: 150px;
}
form{
 margin-bottom: 150px;   
}
main{
 margin-bottom: 150px;     
}